/** Basic Portfolio -  **/
body {
    padding: 0;
    margin: 0 auto;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans‐serif;
    line-height: 150%;
    color: #777777;
    background-color: grey;
    width: 960px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

header, h2 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}
header {
    float: left;
    background-color: #4aaaa5;
    border: #cccccc;
    
}

.banner {
    background-color: beige;
}

.content{
    background-color: beige;
}
ul {
    list-style: none;
}

li {
    float: right;
}
li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.website{

}
img {
    float: left;
}


footer {
    background-color: #666666;
    text-align: center;
    /** border-top-color: #4aaaa5;
    border-top: 20px; **/
}